
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px;
}

#header_id {
  background-color: #595959;
  height: 50px;
  width: 100%;
  z-index: 100;
}

.horizontal-line {
  margin-top: -2px;
  height: 1px;
  background-color: #A4A4A4;
}

.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.logo-name {
  font-size: 28px;
  font-family: Futura; 
  color: #F6F6F6;
  vertical-align: middle;
}

.bottom-shadow {
  -moz-box-shadow:    0px 1px 2px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  box-shadow:         0px 1px 2px 0px rgba(0,0,0,0.50);
}

canvas { 
  display:block;
}

#progress-bar-id {
  height: 16px;
  background-color: #595959;
}

.progress-bar-contents {
  position: relative;
  top: 1px;
  left: 1px;
  height: 14px;
  background-color: #FF797A;
}